
.fs-row {
    width: 100%;
    background-color: #ddd;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
    padding: 5px 10px;
    box-sizing: border-box;
}
.fs-block{
    width: 100%;
    display: none;
    text-align: center;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 5px 25px;
    cursor: pointer;
    box-sizing: border-box;
}
.fs-title {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
}
.fs-title:after{
    content: "\f139";
    display: inline-block;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    font: 400 24px/1 dashicons;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none !important;
}
.fs-open.fs-title:after {
    content: "\f140";
}
.fs-item-inner {
    margin: 5px 0;
    background-color: #f5f5f5;
    display: none;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}
.fs-visible {
    display: inline-block;
}
.fs-hidden {
    display: none;
}
.fs-item-inner label {
    display: inline-block;
    padding: 15px 0;
    font-weight: bold;
    text-transform: uppercase;
}
.fs-row label.button {
    margin: 10px 0 !important;
}
.value-container {
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    color: #999999;
}
.custom_media_image {
    display: inline-block;
    width: 50%;
    max-width: 300px;
    margin-bottom: 15px;
}

.fs-row input[type=range]{
    -webkit-appearance: none;
    background: transparent;
}

.fs-row input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

.fs-row input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #0085ba;
    margin-top: -5px;
}

.fs-row input[type=range]:focus {
    outline: none;
}

.fs-row input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}


.fs-row input[type="checkbox"],
.fs-row input[type="radio"]{
    display: none;
}

.shortcode-info-box {
    font-weight: bold;
    font-size: 14px;
}
.shortcode-info-box .dashicons {
    color: #0085ba;
}

